<section class="vh-100 gradient-custom" >
    <div class="row pagina">
        <div class="margen"> 
            <div class="container" *ngIf="proyecto">

                <div class="titulo">
                    <br>
                    <br>
                    <h1><b>Editar Proyecto</b></h1>
                </div>
        <div class="contenido">
            <form (ngSubmit)="onUpdateP()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP"><b>Nombre del Proyecto: *</b></label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyecto.nombreP"
                        required>
                </div>

                <div class="form-group">
                    <label for="descripcionP"><b>Descripcion del Proyecto: *</b></label>
                    <textarea type="text" class="form-control" id="descripcionP" name="descripcionP"[(ngModel)]="proyecto.descripcionP" required > </textarea>
                        
                </div>
                <div class="form-group">
                    <label for="linkP"><b>Link del proyecto</b></label>
                    <input type="text" class="form-control" id="linkP" name="linkP" [(ngModel)]="proyecto.linkP" required>
                </div> 

                <div class="form-group">
                    <label for="imagenP"><b>Imagen del Proyecto</b></label>
                    <input type="file" class="form-control" id="imagenP" name="imagenP"
                        (change)="uploadImageProy($event)" accept=".jpg, .jpeg, .png">
                </div>

                
                <div class="imagen">
                    <img [src]="imagenProyectoService.urlProy" width="200px"
                        *ngIf='imagenProyectoService.urlProy != ""'>
                </div>
                <b>* este campo es obligatorio</b>
                <br>
                <br>

                <button type ="submit" class="btn btn-dark" [disabled]="f.invalid">
                    <b>Editar</b>
                </button>

                <button class="btn btn-dark" style="margin-left: 10px " routerLink="">
                    <b>Cancelar</b>
                </button>

            </form>
             </div>
        </div>
    </div>
</div>


</section>