.row{
    padding: 80px;
        margin-right: 0%;
      
        
    }
    h1,h3{
        display: inline;
    }

table{
    table-layout: fixed;
    width: 100%;
    
  
    
}

th, td {
    
    width: 100%;
    word-wrap: break-word;
    padding: 0;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

#imagenP{
    width: 80px;
    height: 80px;

}

.img-fluid:hover {

    -webkit-transform: scale(2.9);
    -ms-transform: scale(2.9);
    transform: scale(2.9);
    transition: transform .5s;

}
   

@media (max-width: 576px) {

.imagen-fluid {
    display: flex;
    position: absolute;
}

.descripcionP {
    display: flex;
}
.nombreP {
    display: flex;
}
.linkP {
    display: flex;

}
}
