<div class="row">
    <h1>Proyecto</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproyec" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>

    <div class="col lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
               
                <tr *ngFor="let Proyecto of proyecto">
                   <td >
                        <h2>{{Proyecto.nombreP}}</h2>
                    </td>
                    <td style="padding-left:125px;">{{Proyecto.descripcionP}}
                 
                     </td>
                    <td style="padding-left:100px;" ><img src={{Proyecto.imagenP}} class="img-fluid" id="imagenP"> 
                    </td> 
                    

                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproyec/{{Proyecto.id}} " 
                            >
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                        
                            
                        <button class="btn btn-danger"style="margin-left: 10px " (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>

                    
                </tr>
            </tbody>
        </table>
    </div>

</div>