


table{
    table-layout: fixed;
    width: 100%;
    
}
th, td {
  
    width: 100px;
    word-wrap: break-word;
    padding: 10 px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}