<section class="vh-100 gradient-custom" >
    <div class="row pagina">
        <div class="margen">        
            <div class="container" > 
                <div class="titulo">
                    <br>
                    <br>
                    <h1><b>Editar Skill</b></h1>
                </div>
                <div class="contenido">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreS"><b>Nombre skill</b></label>
                    <input type="text" class="form-control" id="nombre" name="nombreS" [(ngModel)]="skill.nombreS" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje"><b>Porcentaje</b></label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentajeS" [(ngModel)]="skill.porcentajeS" required>
                </div>
                
                <div class="form-group">
                    <label for="imagenS"><b>Imagen del Proyecto</b></label>
                    <input type="file" class="form-control" id="imagenS" name="imagenS" (ngModel)="skill.imagenS" 
                    (change)="uploadImageSkill($event)"
                    accept=".jpg, .jpeg, .png">
                </div>
                <b>* este campo es obligatorio</b>
                <br>
                <br>
                <div class="imagen">
                    <img [src]="imagenSkill.urlSkill" width="200px" alt="Imagen Proyecto" *ngIf='imagenSkill.urlSkill != ""'>
                </div>
                
                
                <div class="boton">
                    <button type ="submit" class="btn btn-dark" [disabled]="f.invalid"><b>Agregar</b></button>
                    <button class="btn btn-dark " style="margin-left: 10px " routerLink=""><b>Cancelar</b></button>
                </div>
            </form>
        </div>
    </div>
</div>
