.row{
    padding: 20px;
   
}

div{
    background-color: rgb(169, 115, 219);
    text-align: center;
}

/*estilo de la foto de perfil*/
@media (min-width: 576px) {
    #fotodeperfil{
       
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
<<<<<<< Updated upstream
        left: 3%;
        top: 650px;
=======
        
    }
    .descripcion {
        display: flex;
        justify-content: center;
        align-items: center;;


>>>>>>> Stashed changes
    }
}
    @media (max-width: 575px) {
        #fotodeperfil{
            position: absolute;
            width: 30%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left: 33%;
            top: 950px;
        }
    /*falta un media para cuando es muy chica*/
}



/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 20%;
    
    }


