.row{
    padding: 90px;
   
}

div{
    
         text-align: center;
}

/*estilo de la foto de perfil*/
@media (min-width: 576px) {
    #fotodeperfil{
       
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
        left: 3%;
<<<<<<< HEAD
        top: 650px;
=======
=======
>>>>>>> Stashed changes
=======
        top:650px;
>>>>>>> 5a2868893070e90ac6cd7c8e4ab213e570e547ab
        
    }
    .descripcion {
        display: flex;
        justify-content: center;
        align-items: center;;


<<<<<<< HEAD
>>>>>>> Stashed changes
=======
>>>>>>> 5a2868893070e90ac6cd7c8e4ab213e570e547ab
    }
}
    @media (max-width: 575px) {
        #fotodeperfil{
            position: absolute;
            width: 30%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left: 33%;
            top: 950px;
        }
    /*falta un media para cuando es muy chica*/
}



/*etiqueta nombre*/
#nombre{
    font-weight: bold;

    
    }


button{
    margin-top: -100px;
    margin-left: 80px;
}